<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank You Page</title>
  </head>
  <body>
    <h1 class="text-center">Thank you for applying, mail has been sent</h1>
  </body>
</html>
